@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Silkscreen:wght@400;700&display=swap');

.image {
    text-align: center;
    background-color: #daf3f6;
    border: solid #daf3f6;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: bold;
}

.barraNav {
    background-color: rgb(255, 174, 53);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: bold;
    height: 60px;
}

.b0 {
    margin: 10px;
}

.b1 {
    width: 95px;
    height: 27px;
    margin-top: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.b2 {
    width: 105px;
    height: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.b3 {
    width: 107px;
    height: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.b4 {
    width: 88px;
    height: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.b5 {
    width: 115px;
    height: 27px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.barra {
    margin: 10px;
    margin-left: 550px;
    height: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.images {
    text-align: end;
}

.promocion {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

img {
    border-radius: 25px;
    margin: 10px;
}

#bNosotros {
    display: inline-block;
    position: relative;
    margin: 10px;
}

#dNosotros {
    display: none;
    position: absolute;
}

#bNosotros:hover #dNosotros {
    display: block;
}

#dNosotros a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

#dNosotros a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

#bConvocatoria {
    display: inline-block;
    position: relative;
    margin: 10px;
}

#dConvocatoria {
    display: none;
    position: absolute;
}

#bConvocatoria:hover #dConvocatoria {
    display: block;
}

#dConvocatoria a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

#dConvocatoria a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

#bAlumnos {
    display: inline-block;
    position: relative;
    margin: 10px;
}

#dAlumnos {
    display: none;
    position: absolute;
}

#bAlumnos:hover #dAlumnos {
    display: block;
}

#dAlumnos a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

#dAlumnos a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

#bCultura {
    display: inline-block;
    position: relative;
    margin: 10px;
}

#dCultura {
    display: none;
    position: absolute;
}

#bCultura:hover #dCultura {
    display: block;
}

#dCultura a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

#dCultura a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

#bInternacional {
    display: inline-block;
    position: relative;
    margin: 10px;
}

#dInternacional {
    display: none;
    position: absolute;
}

#bInternacional:hover #dInternacional {
    display: block;
}

#dInternacional a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

#dInternacional a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

.formatoTabla table {
    margin: 10px auto;
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: bold;
}

#datos1 {
    text-align: center;
    margin: 20px;
}

#borrar {
    text-align: center;
}

th {
    text-align: center;
    padding: 10px;
    border: solid red 1px;
} 

tr {
    text-align: center;
    padding: 10px;
    border: solid red 1px;
}

footer {
    background-color: rgb(147, 246, 97);
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10%;
    color: rgb(1, 57, 50);
}